body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.slider-container {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.slider {
    display: flex;
    overflow: hidden;
}

.slider img {
    width: 60%;
    height: 60vh;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}
